@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Audiowide Regular"), local("Audiowide-Regular"), url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.woff2") format("woff2"), url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.woff") format("woff"), url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.ttf") format("truetype"), url("../fonts/audiowide-v6-latin/audiowide-v6-latin-regular.svg#Audiowide") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-300italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.woff") format("woff"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.ttf") format("truetype"), url("../fonts/open-sans-v15-latin_cyrillic/open-sans-v15-latin_cyrillic-800italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
html {
  display: block;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.4;
  font-family: sans-serif;
  vertical-align: baseline;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  box-sizing: border-box; }
  html::before, html::after {
    box-sizing: border-box; }

html:focus {
  outline: none; }

@-ms-viewport {
  width: device-width; }
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #393939;
  background-color: #fff;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 1rem;
  word-spacing: 0.032rem;
  letter-spacing: 0.028rem;
  box-sizing: border-box; }
  body::before, body::after {
    box-sizing: border-box; }

footer {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box; }
  footer::before, footer::after {
    box-sizing: border-box; }

header {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box; }
  header::before, header::after {
    box-sizing: border-box; }

h1, h2, h3 {
  display: block;
  border: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.1;
  vertical-align: baseline;
  color: #7f7f7f;
  box-sizing: border-box; }
  h1::before, h1::after, h2::before, h2::after, h3::before, h3::after {
    box-sizing: border-box; }

h1 {
  margin: 0.67rem 0 0.67rem 0;
  font-size: 2rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  margin: 0.83rem 0 0.83rem 0;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.75rem; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 2rem; } }

h3 {
  margin: 1rem 0 1rem 0;
  font-size: 1.25rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.75rem; } }

main {
  display: block;
  flex: 1 1 0;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto; }
  main::before, main::after {
    box-sizing: border-box; }
  @media (min-width: 1200px) {
    main {
      font-size: 1.125rem; } }

nav {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box; }
  nav::before, nav::after {
    box-sizing: border-box; }

button {
  margin: 0;
  border: 0;
  overflow: visible;
  background: transparent;
  text-transform: none;
  cursor: pointer;
  box-sizing: border-box; }
  button::before, button::after {
    box-sizing: border-box; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

a {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box; }
  a::before, a::after {
    box-sizing: border-box; }

a:link {
  color: #4285f4;
  text-decoration: none; }

a:visited {
  color: #4285f4;
  text-decoration: none; }

a:hover {
  color: #7f7f7f;
  text-decoration: underline; }

a:active {
  color: #000;
  text-decoration: underline; }

small {
  font-size: smaller;
  box-sizing: border-box; }
  small::before, small::after {
    box-sizing: border-box; }

span {
  box-sizing: border-box; }
  span::before, span::after {
    box-sizing: border-box; }

div {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box; }
  div::before, div::after {
    box-sizing: border-box; }

p {
  display: block;
  margin: 1rem 0 1rem 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box; }
  p::before, p::after {
    box-sizing: border-box; }

ul {
  display: block;
  list-style-type: disc;
  margin: 1rem 0 1rem 0;
  border: 0;
  padding: 0 0 0 2rem;
  vertical-align: baseline;
  box-sizing: border-box; }
  ul::before, ul::after {
    box-sizing: border-box; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    order: -1; }

  .order-sm-last {
    order: 13; }

  .order-sm-0 {
    order: 0; }

  .order-sm-1 {
    order: 1; }

  .order-sm-2 {
    order: 2; }

  .order-sm-3 {
    order: 3; }

  .order-sm-4 {
    order: 4; }

  .order-sm-5 {
    order: 5; }

  .order-sm-6 {
    order: 6; }

  .order-sm-7 {
    order: 7; }

  .order-sm-8 {
    order: 8; }

  .order-sm-9 {
    order: 9; }

  .order-sm-10 {
    order: 10; }

  .order-sm-11 {
    order: 11; }

  .order-sm-12 {
    order: 12; }

  .offset-sm-0 {
    margin-left: 0; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; } }
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    order: -1; }

  .order-md-last {
    order: 13; }

  .order-md-0 {
    order: 0; }

  .order-md-1 {
    order: 1; }

  .order-md-2 {
    order: 2; }

  .order-md-3 {
    order: 3; }

  .order-md-4 {
    order: 4; }

  .order-md-5 {
    order: 5; }

  .order-md-6 {
    order: 6; }

  .order-md-7 {
    order: 7; }

  .order-md-8 {
    order: 8; }

  .order-md-9 {
    order: 9; }

  .order-md-10 {
    order: 10; }

  .order-md-11 {
    order: 11; }

  .order-md-12 {
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; } }
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    order: -1; }

  .order-lg-last {
    order: 13; }

  .order-lg-0 {
    order: 0; }

  .order-lg-1 {
    order: 1; }

  .order-lg-2 {
    order: 2; }

  .order-lg-3 {
    order: 3; }

  .order-lg-4 {
    order: 4; }

  .order-lg-5 {
    order: 5; }

  .order-lg-6 {
    order: 6; }

  .order-lg-7 {
    order: 7; }

  .order-lg-8 {
    order: 8; }

  .order-lg-9 {
    order: 9; }

  .order-lg-10 {
    order: 10; }

  .order-lg-11 {
    order: 11; }

  .order-lg-12 {
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    order: -1; }

  .order-xl-last {
    order: 13; }

  .order-xl-0 {
    order: 0; }

  .order-xl-1 {
    order: 1; }

  .order-xl-2 {
    order: 2; }

  .order-xl-3 {
    order: 3; }

  .order-xl-4 {
    order: 4; }

  .order-xl-5 {
    order: 5; }

  .order-xl-6 {
    order: 6; }

  .order-xl-7 {
    order: 7; }

  .order-xl-8 {
    order: 8; }

  .order-xl-9 {
    order: 9; }

  .order-xl-10 {
    order: 10; }

  .order-xl-11 {
    order: 11; }

  .order-xl-12 {
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29.01.2019, 09:55:58
    Author     : nik
*/
#site-footer {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #f5f5f5;
  background-color: #393939;
  font-weight: 600; }

#site-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e9ecef;
  color: #000; }

#site-header-content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    #site-header-content-wrapper {
      max-width: 540px; } }
  @media (min-width: 768px) {
    #site-header-content-wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    #site-header-content-wrapper {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    #site-header-content-wrapper {
      max-width: 1140px; } }

#nav-wrapper {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  min-height: 2.8rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  background-color: #393939; }

#main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: inherit;
  font-weight: 600;
  line-height: normal; }
  @media (min-width: 576px) {
    #main-nav {
      max-width: 540px; } }
  @media (min-width: 768px) {
    #main-nav {
      max-width: 720px; } }
  @media (min-width: 992px) {
    #main-nav {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    #main-nav {
      max-width: 1140px; } }
  @media (min-width: 992px) {
    #main-nav {
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap; } }

#brand {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Audiowide, fantasy;
  line-height: 1.3;
  color: #000 !important;
  white-space: nowrap;
  text-decoration: none; }

#main-nav-toggler {
  position: absolute;
  top: .5rem;
  left: .5rem;
  z-index: 1000;
  padding: .125rem;
  font-size: 1rem;
  line-height: 1;
  color: #e9ecef;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 2px; }
  border
  #main-nav-toggler:hover, #main-nav-toggler:active, #main-nav-toggler:focus {
    outline-color: transparent; }
  @media (min-width: 992px) {
    #main-nav-toggler {
      display: none; } }

#main-nav-toggler-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

#main-nav-list-wrapper {
  width: 100%;
  margin-top: 2.8rem; }
  @media (min-width: 992px) {
    #main-nav-list-wrapper {
      display: flex !important;
      justify-content: flex-end;
      margin-top: 0; } }

#main-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0; }
  @media (min-width: 992px) {
    #main-nav-list {
      flex-direction: row;
      margin: 0;
      padding-right: 100px; } }

.main-nav-list-item {
  margin-bottom: .25rem;
  padding: 0;
  border-bottom: 1px dotted #e9ecef; }
  .main-nav-list-item > a, .main-nav-list-item > span {
    display: inline-block;
    width: 100%;
    padding: 0 0.5rem .25rem 0.5rem;
    color: #e9ecef; }
  .main-nav-list-item > a:hover, .main-nav-list-item > a:active, .main-nav-list-item > a:focus {
    outline-color: transparent;
    color: #fff;
    text-decoration: none; }
  .main-nav-list-item:last-child {
    border-bottom: none; }
  @media (min-width: 992px) {
    .main-nav-list-item {
      margin-bottom: 0;
      margin-right: .5rem;
      border-bottom: none; } }

.main-nav-list-item-dropdown {
  margin-bottom: .25rem;
  padding: 0;
  border-bottom: 1px dotted #e9ecef; }
  .main-nav-list-item-dropdown > a, .main-nav-list-item-dropdown > span {
    display: inline-block;
    width: 100%;
    padding: 0 0.5rem .25rem 0.5rem;
    color: #e9ecef; }
  .main-nav-list-item-dropdown > a:hover, .main-nav-list-item-dropdown > a:active, .main-nav-list-item-dropdown > a:focus {
    outline-color: transparent;
    color: #fff;
    text-decoration: none; }
  .main-nav-list-item-dropdown:last-child {
    border-bottom: none; }
  @media (min-width: 992px) {
    .main-nav-list-item-dropdown {
      margin-bottom: 0;
      margin-right: .5rem;
      border-bottom: none; } }
  .main-nav-list-item-dropdown {
    position: relative; }
  .main-nav-list-item-dropdown > a:hover {
    color: #fff !important; }

.dropdown-menu {
  display: none;
  position: static;
  float: none;
  background-color: #393939;
  list-style: none;
  padding: .5rem 0 0 0;
  border: 1px dotted #e9ecef;
  background-clip: padding-box;
  min-width: 100%; }
  .dropdown-menu.show {
    display: block; }
  @media (min-width: 992px) {
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1500;
      float: left;
      min-width: 270px; } }

.dropdown-item {
  margin: 0 0 .25rem 0;
  padding: 0 1rem .25rem 1rem;
  border-bottom: 1px dotted #e9ecef;
  font-weight: 400; }
  .dropdown-item > a, .dropdown-item > span {
    display: inline-block;
    width: 100%;
    color: #e9ecef; }
  .dropdown-item > a:hover, .dropdown-item > a:active, .dropdown-item > a:focus {
    outline-color: transparent;
    color: #fff;
    text-decoration: none; }
  .dropdown-item:last-child {
    border-bottom: none; }

#meta-nav-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: .5rem;
  padding-bottom: .25rem; }
  @media (min-width: 576px) {
    #meta-nav-wrapper {
      max-width: 540px; } }
  @media (min-width: 768px) {
    #meta-nav-wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    #meta-nav-wrapper {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    #meta-nav-wrapper {
      max-width: 1140px; } }

#meta-nav {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style: none;
  line-height: 1.3; }
  @media (min-width: 576px) {
    #meta-nav {
      flex-direction: row;
      justify-content: center;
      max-width: 100%;
      margin: 0; } }

.meta-nav-item {
  margin-bottom: .25rem;
  padding: 0 1rem .25rem 1rem;
  border-bottom: 1px dotted #e9ecef; }
  .meta-nav-item:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  @media (min-width: 576px) {
    .meta-nav-item {
      margin-bottom: 0;
      border-bottom: none; } }
  .meta-nav-item .meta-nav-link {
    color: #e9ecef; }
  .meta-nav-item .meta-nav-link:hover,
  .meta-nav-item .meta-nav-linkactive,
  .meta-nav-item .meta-nav-link:focus {
    text-decoration: none;
    color: #fff;
    outline-color: transparent; }

.active {
  color: #fff !important; }

.collapse:not(.show) {
  display: none; }

#copyright-notice {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: .25rem;
  text-align: center; }
  @media (min-width: 576px) {
    #copyright-notice {
      max-width: 540px; } }
  @media (min-width: 768px) {
    #copyright-notice {
      max-width: 720px; } }
  @media (min-width: 992px) {
    #copyright-notice {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    #copyright-notice {
      max-width: 1140px; } }

/*# sourceMappingURL=styles.css.map */
