//
// Variables of content sectioning html elements
//
// <address>, <article>, <aside>, <footer>, <header>, headings <h1> to <h6>,
// <hgroup>, <main>, <nav>, <section>
//
// Created on : 23.01.2019, 08:26:01
// Author     : nik

// <address>

// <article>

// <aside>

// <footer>

// <header>

// headings <h1> bis <h6>
$h1-margin: 0.67rem 0 0.67rem 0 !default;
$h2-margin: 0.83rem 0 0.83rem 0 !default;
$h3-margin: 1rem 0 1rem 0 !default;

$headings-font-weight: $font-weight-normal !default;
$headings-line-height: 1.1 !default;

// <hgroup>

// <main>
$main-font-size-xl: 1.125rem !default;

// <nav>

//<section>