//
// Variables of inline text semantics html elements
//
//
// Created on : 23.01.2019, 10:08:44
// Author     : nik

// <a>
$link-color: #2070bb !default; // Blue
$link-visited-color: #800080 !default; // Purple
$link-hover-color: #00008b !default; // Darkblue
$link-active-color: #ff0000 !default; // Red

// <abbr>

// <b>

// <bdi>

// <bdo>

// <br>

// <cite>

// <code>

// <data> (not w3c standard)

// <dfn>

// <em>

// <i>

// <kbd>

// <mark>

// <q>

// <br> (no css using)

// <rp>

// <rt>

// <rtc>

// <ruby>

// <s> (not longer relevant/no using)

// <samp>

// <small>

// <span>

// <strong>