//
// Variables of text content html elements
//
// <blockquote>, <dd>, <div>, <dl>, <dt>, <figure>, <figurecaption>, <hr>, <li>,
// <ol>, <p>, <pre>, <ul>
//
// Created on : 23.01.2019, 10:06:33
// Author     : nik

// <blockquote>

// <dd>

// <div>

// <dl>

// <dt>

// <figure>

// <figurecaption>

// <hr>

// <li>

// <ol>

// <p>
// Defaul browser margings
$p-margin-top: 1rem !default;
$p-margin-right: 0 !default;
$p-margin-bottom: 1rem !default;
$p-margin-left: 0 !default;

// <pre>

// <ul>
// Defaul browser margings
$ul-margin-top: 1rem !default;
$ul-margin-right: 0 !default;
$ul-margin-bottom: 1rem !default;
$ul-margin-left: 0 !default;

$ul-padding-left: 2rem !default;