//
// Color variables after usage
//
// Use only global colors
// 
//  Created on : 24.01.2019, 07:58:49
//  Author     : nik

$info-color: $blue-w3schools;
$info-bg: $light-blue-w3schools;

$error-color: $red-w3schools;
$error-bg: $seashell-color;

$success-color: $green-w3schools;
$success-bg: $spring-green-w3schools;

$warning-color: $orangered-nik;
$warning-bg: $yellow-w3schools;

$default-color: $gray-700;
$default-bg: $gray-100;